.explore{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
}

.explore .newclan{    
    width: 176px;
    height: 34px;
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 1px;
    font-family: inherit;
    color: inherit;
    border-radius: 4px;
    background: #2c3e59;
    box-shadow: 0px 12px 40px rgba(0,0,0,0.5);
    border: 0;
}

.explore .title{
    font-size: 46px;
    font-weight: 400;
    line-height: 56px;
    margin-bottom: 30px;
    padding-top: 30px;
}

.explore .list{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.explore .list .start{
    width: 228px;
    height: 56px;
    background: #ba4a56;
    box-shadow: 0px 12px 40px rgba(0,0,0,0.5);
    font-family: inherit;
    color: inherit;
    border: 0;
    margin-bottom: 20px;
}

.explore .list .watch{
    font-size: 14px;
    width: 250px;
    height: 56px;
    background-repeat: no-repeat;
    background: rgba(186, 74, 86, 0);
    font-family: inherit;
    color: inherit;
    border: 0;
    background-image: url(../img/play.png);
    background-repeat: no-repeat;
    background-size: 20%;
    background-position: 1%;
    margin-bottom: 30px;
}

.explore .form-login{
    width: 250px;
    height: 400px;
    display: inline-block;
    background-color: #2c3e59;
    border-radius: 4px;
    margin-left: auto;
    margin-right: auto;
    opacity: 0.8;
}

.explore .form-title{
    font-size: 30px;
    text-align: center;
    padding-top: 20px;
    margin-bottom: 40px;
}

.explore .username{
    font-size: 18px;
    margin-left: 15%;
    margin-bottom: 10px;
    margin-top: 10px;
}

.explore .name, .explore .password{
    margin-left: 15%;
}
.explore .password{
    margin-right: 30px;
    margin-bottom: 40px;
}

.explore .checkbox{
    margin-left: 15%;
    margin-right: 10px;
    margin-bottom: 10px;
}

.explore .forgot-password{
    text-decoration: none;
    color: inherit;
    margin-left: 25%;
    margin-right: 20px;
}

.explore .form-buttom{
    width: 130px;
    height: 38px;
    font-size: 18px;
    color:inherit;
    border: 0;
    background: #ba4a56;
    box-shadow: 0px 12px 40px rgba(0,0,0,0.5);
    margin-top: 20px;
    margin-left: 25%;
}

.explore .form-signup{
    margin-top: 30px;
    margin-left: 8%;
}

.explore .action-signup{
    text-decoration: none;
    color: inherit;
    font-weight: 700;
}

@media (max-width: 530px){
    .explore .list{
        display: inline;
        margin-left: auto;
        margin-right: auto;
    }
}

@media (min-width: 480px) and ( max-width:619px){
    .explore .title{
        padding-top: 50px;
        margin-bottom: 80px;
    }
}

@media (min-width: 615px){
    .explore {
        width: 83%;
        margin-top: 150px;
    }
    .explore > div{
        width: 500px;
    }
    .explore .title{
        padding-top: 50px;
        margin-bottom: 80px;
    }
}

@media (min-width:980px){
    .explore{
        flex-direction: row;
        justify-content: space-between
    }
    .explore > div{
        margin-right: 10%;
    }
    .explore .title{
        width: 500px;
    }
}

@media (min-width:1110px){
    .explore > div{
        margin-right: 20%;
    }
}
